.card{
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 25px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
}

.card img{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h2{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: chocolate;
}

.card p{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

.student{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
}

.student p{
  margin: 0;
}

.welcome{
  font-size: 2.5em;
  background-color: rgb(25, 78, 78);
  color: white;
  padding: 20px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
}

.login{
  font-size: 2.5em;
  background-color: rgb(181, 52, 26);
  color: white;
  padding: 20px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(89, 205, 89);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 3px solid rgb(89, 205, 89);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: rgb(126, 113, 24);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color:brown;
  cursor: pointer;
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
}

.counter{
  text-align: center;
}

.counter h1 {
  color: black;
  background-color: darkgoldenrod;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px ;
  /* width: 200px; */
  
}

.counter button{
  padding: 10px;
  margin: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
}

.counter-item-1{
  background-color: green;
}

.counter-item-2{
  background-color: blue;
}

.counter-item-3{
  background-color: red;
}


.color-picker-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Poppins, Helvetica, sans-serif;
}

.color-picker-container h1{
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 10px;
}

.color-display{
  width: 300px;
  height: 300px;
  text-align: center;
  align-content: center;
  font-size: 40px;
  padding: 10px;
  border-radius: 19px;
  border: 3px solid gray;
  transition: 0.5s ease;
}

.color-picker-container label{
  font-size: 30px;
  padding: 20px;
  margin: 2px;
}

.color-picker-container input{
  width: 100px;
  height: 100px;
}

.TodoList{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TodoList h1{
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  color: purple;
  border:  3px solid purple;
  padding: 20px;
  border-radius: 10px;
}

.TodoList input{
  width: 150px;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.add-button{
  color: white;
  background-color: rgb(127, 26, 170);
  padding: 10px;
  border-radius: 3px;
  border: 0;
  margin: 10px;
  transition: 0.5s ease;
}

ol span{
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  flex : 1;
}

ol{
  border: 3px solid gray;
  padding: 30px;
  border-radius: 15px;
 
}
li{
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}


/* button{
  color: white;
  padding: 10px;
  border-radius: 3px;
  border: 0; margin-right: 5px;
  transition: 0.5s ease;
} */

.delete-button{
  background-color: red;
}

.move-button{
  background-color: green;
}

.down-button{
  background-color: blue;
}

.add-button:hover{
  background-color: rgb(74, 19, 74);
}

.delete-button:hover{
  background-color: rgb(175, 29, 29);
}

.move-button:hover{
  background-color: darkgreen;
}

.down-button:hover{
  background-color: darkblue;
}